body {
  background-color: black;
  color:white;
  text-align: center;
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5em;
}

.food{
  color: rgb(238, 49, 49);

}

h2{
  height: 40px;
  color:  greenyellow;
}
.wall {
  width: auto;
  height: 40px;
  color: rgb(255, 234, 45);
  border: 1px solid rgb(245, 118, 118);
  box-shadow: 0px 0px 15px rgb(227, 240, 54);
}

/* .formLine {
  margin:10px;
  padding:10px;
  background-color: cornflowerblue;
} */


.reset {
  display: none;
  margin: auto;
  padding: 4px;
  margin-top: 10px;
  width: 300px;
  height: 100px;
  border: none;
  border-radius: 30%;
  background-color: rgb(181, 194, 186);
}

.modal{
  display: none;
  margin: auto;
  width:250px;
  height: 150px;
  background-color:rgb(124, 49, 49);
}

.close{
  margin: auto;
  margin-top: 20px ;
  width:125px;
  height: 75px;
}

.board-container{
  margin: auto;
}

.modal .modal-h2{ 
  padding:30px;
  color: rgb(79, 216, 132);
  
}

img{
  width: 20px;
  height: 20px;
}

.board-container{
  margin: auto;
  width: 100%;
  
}
table{
  margin:auto;
}